#whyareyouhere p {
    text-align: center;
    font-size: 16px;
}

#whyareyouhere {
    margin: 50px;
}

h1 {
    text-align: center;
}

p {
    text-align: left;
    margin: auto;
    padding: 10px 0;
    max-width: 800px;
    min-width: 200px;
}

#headers {
    width: 80vw;
    max-width: 800px;
    margin: 5vh auto;
}

.mainAbout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 10vw;
    gap: 5vw;
    /* border: 5px solid black; */
}

/* .mainAbout::after{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../images/new-images/washiGreen.bmp);
    z-index: -1;
    opacity: .7;
} */

#mainHeadshot {
    aspect-ratio: 100/141;
    max-width: 423px;
    min-width: 300px;
    width: 32vw;
    border-radius: 300px;
    /* border: 15px solid white; */
}

.aboutCopy {
    width: 55vw;
    max-width: 800px;
    min-width: 320px;
    /* border: 5px solid black; */
}

#ACTitle {
    font-family: "Montserrat";
    /* font-size: 30px; */
    text-align: center;
    color: rgb(12, 45, 12);
}

.contact {
    display: block;
    text-align: center;
    padding: 20px 30px;
    margin: 40px auto;
    font-family: 'Montserrat';
    font-size: 18px;
    width: 100px;
    height: 20px;
    color: antiquewhite;
    text-transform: uppercase; 
    text-decoration: none; 
    border-radius: 100px;
    background-color: rgb(36, 58, 49);
}

.contact:hover {
    color: antiquewhite;
    background-color: rgb(18, 124, 86);
}

#bottomButtons {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.leftSide {
    display: flex;
    flex-flow: column wrap;
}

.slWrapper {
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    width: 80vw;
    max-width: 1000px;
}

.slWrapper::after{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../images/webps/m4aod-album-art-dark.webp);
    z-index: -1;
    opacity: .8;
}

.slContainer {
    height: 800px;
    width: 800px;
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;   
}

.slide {
    width: 100%;
    height: 100%;
    flex-basis: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.slArrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: .8;
    transition: opacity 100ms;
}

.slArrow:hover,
.slArrow:focus {
    opacity: 1;
}

#slArrowPrev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slArrowNext {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}


.slWrapper img {
    width: 800px;
    height: 800px;
}

@media screen and (max-width: 1005px) {
    .slContainer {
        width: 80%;
        height: calc(80vw * .8);
    }
    
    .slide img {
        width: calc(80vw * .8);
        height: 100%;
    }

    p {
        font-size: calc((1.5 - 1) * 1.2vw + .7rem);
    }
}

@media screen and (max-width: 973px) {
    .mainAbout {
        display: block;
    }

    #mainHeadshot {
        width: 80vw;
        display: block;
        margin: 5vh auto;
    }
    
    #aboutCopy {
        width: 80vw;
        margin: 0 auto;
    }

    .mainAbout {
        gap: 1vw;
        margin: 2vw;
    }
}

@media screen and (max-width: 600px) {

    #headers {
        margin: 10px auto;
    }

    #mainHeadshot {
        min-width: 0;
        width: 70vw;
        border-radius: 20px;
        margin: 20px auto;
    }

    #aboutCopy {
        width: 90vw;
    }

    .contact {
        margin: 2vw auto;
    }

    p {
        font-size: 12px;
    }
}