h1 {
    font-size: 36px;
    text-align: center;
}

p {
    text-align: left;
    font-size: 16px;
    margin: auto;
    padding: 10px;
    max-width: 800px;
    min-width: 200px;
}

.mainAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 2 1 50%;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: 40px;
    padding: 40px;
    border: 5px solid black;
    background-image: url(/images/washiGreen.bmp)
}



/*
.mainAbout {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex: 1 1 auto;
    align-items: center;
}
*/

#mainHeadshot {
    display: inline;
    margin: 0 20px;
    max-width: 500px;
    min-width: 350px;
    margin: 20px;
    border: 15px solid white;
}

.aboutCopy {
    display: inline;
    max-width: 800px;
    min-width: 340px;
    padding: 40px;
    background-color: antiquewhite;
    border: 5px solid black;
}
