h1, h2, a {
    text-align: center;
}

main {
    margin: 0 4vw;
}

iframe {
    margin: 10px;
}

.sectiontitle {
    font-size: 60px;
    padding: 40px 0;
    margin: 0;
    color: rgb(17, 70, 17);
}

#AETitle {
    color: rgb(17, 70, 17);
    margin: 40px auto;
}

/* .blue {
    background-color: rgb(3, 74, 135);
}

.green {
    background-color: rgb(18, 124, 86);
}

.yellow {
    background-color: rgb(243, 148, 6);
} */

.m4aod {
    display: flex;
    max-width: 700px;
    min-width: 0;
    max-height: 700px;
    min-height: 0;
    margin: 40px auto;
    background-image: url(../images/webps/m4aod-album-art-dark.webp);
}

.m4aodText {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 10px;
}

/* new */

#m4containerNew {
    margin: 0;
    padding-bottom: 20px;
}

#m4aodtextNew {
    width: 70vw;
    text-align: left;
    margin: 0 auto 40px auto;
}

#newm4flexNew #m4aodBCNew {
    display: block;
    width: 350px;
    height: 470px;
    max-height: 470px;
    border: 0;
}

#newm4flexNew {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
    
}

/* .m4aodVideoFlexbox {
    display: flex;
    flex-flow: row wrap;
} */

.samplePack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    margin: 0;
    /* border: 3px solid black; */
}

.samplePack img {
    flex: 0 1 auto;
    width: 90vw;
    max-width: 500px;
    min-width: 0px;
}

#samplePackCopy {
    width: 90vw;
    max-width: 700px;
}

.border {
    border: 5px solid rgb(12,45,12);
    padding: 0 20px;
}

.samplePackText {
    max-width: 900px;
    padding: 10px;
}

.samplePackText h2 {
    margin: 40px;
}

.spList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    color:rgb(17, 70, 17);
    /* color: antiquewhite; */
}

.samplesLink {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px;
    width: 250px;
    margin: 40px auto;
    /* border: 3px solid rgb(17, 70, 17); */
    border-radius: 50px;
    background-color: rgb(17, 70, 17);
    color: white;
}

.samplesLink a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: antiquewhite;
}

.samplesLink:hover {
    background-color: rgb(17, 114, 78);
}

.soundDesign {
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
}

.llTitle {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.llTitle h2 {
    width: 800px;
}

.llTitle p {
    width: 80vw;
    margin: 40px 2vw;
    padding: 10px 20px;
    text-align: center;
}

.loopingMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.recital {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.recital iframe, #newm4flexNew iframe {
    width: 90vw;
    height: calc(90vw * (441/784));
    max-width: 784px;
    max-height: 441px;
}

.recital p {
    font-size: 16px;
    max-width: 784px;
    text-align: center;
    padding: 20px;
}

.recitalExcerpts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 0 1vw 0;
}

.recitalExcerpts p {
    max-width: 520px;
    font-size: 14px;
    text-align: center;
}

.fote, .ttf, .nyc {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

.tesserae {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: top;
    margin: auto;
}

.tesserae p, #tesseraeLink {
    display: block;
    width: 90vw;
    max-width: 800px;
    text-align: center;
}

.recList {
    margin: 3vw;
    text-align: center;
}

@media screen and (max-width: 600px) {

    p, #tesseraeLink {
        font-size: 12px;
    }

    ul {
        font-size: 10px;
    }

    hr {
        margin: 4vw 0;
    }

    #pageLinks {
        margin: 0;
    }
    
    .sectionTitle {
        font-size: 30px;
        padding: 20px;
    }

    #m4aodtextNew p {
        font-size: 12px;
        
    }

    #m4containerNew {
        width: 90vw;
        padding-bottom: 0;
        margin: 0 auto;
    }

    #m4aodtextNew {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #newm4flexNew {
        margin: 10px 0;
    }

    #m4aodBCNew {
        width: 100%;
        height: calc(90vw / (35/47))
    }

    #newm4flexNew div iframe {
        width: 90vw;
        height: calc(90vw / (16/9));
        margin: auto;
    }

    .SP {
        padding: 0;
    }

    #samplesLink {
        margin: 10px auto;
    }

    .llTitle p {
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .loopingMain {
        gap: 0;
        padding: 0;
    }

    .loopingMain iframe, #recital iframe, #recitalExcerpts iframe, #tesserae iframe {
        width: 92%;
        height: calc(92vw / (16/9));
        margin: 10px 0;
    }

    .recital p, .recitalExcerpts p {
        font-size: 12px;
        padding: 10px;
    }

    .recitalExcerpts {
        margin: 0 auto;
        width: 92vw;
    }

    #tesserae {
        margin: 0;
        width: 92vw;
    }

    .tesseraeText {
        width: 90%;
        margin: 0;
    }

    .tesseraeText p, .tesseraeText a {
        width: 100%;
        margin: 10px auto;
    }
}