h1 {
    font-size: 36px;
}

h1, h2, a {
    text-align: center;
}

iframe {
    margin: 10px;
}

.sectionTitle {
    font-size: 42px;
    margin: 50px 0;
}

.m4aod {
    display: flex;
    max-width: 700px;
    min-width: 0;
    max-height: 700px;
    min-height: 0;
    margin: 40px auto;
    background-image: url(../images/m4aod-album-art-dark.png);
}

.m4aodText {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 10px;
}

.m4aod h2, .m4aod h1, .m4aod a {
    color: white;
}

.m4aod h1 {
    font-size: 42px;
}

.m4aod h2 {
    font-size: 36px;
    margin: 0;
}

.m4aod a {
    font-size: 24px;
}

.m4aodVideoFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 20px;
}

.samplePack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
}

.samplePack img {
    flex: 0 1 auto;
    max-width: 600px;
    min-width: 0px;
}

.samplePackText {
    max-width: 900px;
    padding: 10px;
}

.samplePackText h2 {
    margin: 40px;
}

.spList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
}

.samplesLink {
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
}

.soundDesign {
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
}

.llTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.llTitle h2 {
    width: 800px;
}

.llTitle p {
    width: 800px;
    margin: 40px 20px;
    border: 3px solid rgb(12,45,12);
    padding: 10px 20px;
    text-align: center;
}

.loopingMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.recital {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}

.recital p {
    font-size: 18px;
    max-width: 784px;
    text-align: center;
    padding: 20px;
}

.recitalExcerpts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
}

.recitalExcerpts p {
    max-width: 520px;
    font-size: 14px;
    text-align: center;
}

.fote, .ttf, .nyc {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

.tesserae {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: top;
    margin: 40px auto;
}

.tesserae p, .tesserae a {
    max-width: 800px;
    min-width: 100px;
    margin: 10px;
}

.recList {
    margin: 40px 40px;
    text-align: center;
}