h1 {
    font-size: 36px;
}

h1, h2, a {
    text-align: center;
}

p {
    font-size: 16px;
}

iframe {
    margin: 10px;
}

.sectiontitle {
    font-size: 60px;
    padding: 40px 0;
    margin: 0;
    color: rgb(17, 70, 17);
}

#AETitle {
    color: rgb(17, 70, 17);
    margin: 40px auto;
}

/* .blue {
    background-color: rgb(3, 74, 135);
}

.green {
    background-color: rgb(18, 124, 86);
}

.yellow {
    background-color: rgb(243, 148, 6);
} */

.m4aod {
    display: flex;
    max-width: 700px;
    min-width: 0;
    max-height: 700px;
    min-height: 0;
    margin: 40px auto;
    background-image: url(../images/m4aod-album-art-dark.png);
}

.m4aodText {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 10px;
}

/* new */

#m4containerNew {
    margin: 0;
    padding-bottom: 20px;
}

#m4aodtextNew {
    width: 840px;
    padding: 20px;
    text-align: left;
    margin: 0 auto 40px auto;
}

#m4aodBCNew {
    display: block;
    width: 350px;
    height: 470px;
    border: 0;
}

#newm4flexNew {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    
}

/* .m4aodVideoFlexbox {
    display: flex;
    flex-flow: row wrap;
} */

.samplePack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* border: 3px solid black; */
}

.samplePack img {
    flex: 0 1 auto;
    max-width: 600px;
    min-width: 0px;
}

.border {
    border: 5px solid rgb(12,45,12);
    padding: 0 20px;
}

.samplePackText {
    max-width: 900px;
    padding: 10px;
}

.samplePackText h2 {
    margin: 40px;
}

.spList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    color:rgb(17, 70, 17);
    /* color: antiquewhite; */
}

.samplesLink {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 20px;
    width: 250px;
    margin: 40px auto;
    /* border: 3px solid rgb(17, 70, 17); */
    border-radius: 50px;
    background-color: rgb(18, 124, 86);
}

.samplesLink a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: antiquewhite;
}

.SP {
    padding: 20px 0;
}

.soundDesign {
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
}

.llTitle {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.llTitle h2 {
    width: 800px;
}

.llTitle p {
    width: 800px;
    margin: 40px 20px;
    padding: 10px 20px;
    text-align: center;
}

.loopingMain {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.recital {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.recital p {
    font-size: 16px;
    max-width: 784px;
    text-align: center;
    padding: 20px;
}

.recitalExcerpts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}

.recitalExcerpts p {
    max-width: 520px;
    font-size: 14px;
    text-align: center;
}

.fote, .ttf, .nyc {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
}

.tesserae {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-items: top;
    margin: 40px auto 70px auto;
}

.tesserae p, .tesserae a {
    width: 630px;
    padding: 5px;
    text-align: center;
}

.recList {
    margin: 40px 40px;
    text-align: center;
}