.navi .otherPage {
    display: block;
    text-align: center;
    padding: 1vw;
    margin: 0 .5vw;
    text-transform: uppercase;
    color: antiquewhite;
    text-decoration: none; 
    border-radius: 30px;
    font-size: calc((1.5 - 1) * 1.2vw + .5rem);
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

.navi .otherPage:hover {
    color: antiquewhite;
    background-color: rgb(18, 124, 86);
}

#epkFirst {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    width: 95%;
    margin: 2vw auto;
}

#epkTopPic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.space {
    width: 10px;
}

#meOnStage {
    max-width: 600px;
    width: 90vw;
    margin: 10px auto;
}

#reviews {
    max-width: 600px;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

#bio {
    max-width: 1000px;
    width: 90vw;
}

#epkContact {
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    #meOnStage, #reviews, #bio {
        width: 42vw;
    }

    #meOnStage, #reviews {
        max-width: 620px;
    }

    #bio {
        max-width: 1200px;
    }
}

#m4aod {
    margin: 20px;
    height: 410px;
}

#firstMediaFlex {
    background-image: url(../images/webps/m4aod-album-art-light.webp);
    background-position: center;
    background-size: cover;
    border-radius: calc(2vw + (.5 * 1vw));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    margin: 2vw auto;
    width: 95vw;
}

#fMFYT iframe {
    width: 90vw;
    height: calc(90vw * (270/480));
    max-width: 480px;
    max-height: 270px;
    display: block;
    margin: 2vw auto;
}

#performances {
    width: 90vw;
    margin: 5vw auto;
    text-align: center;
}

#performances iframe {
    width: 80vw;
    max-width: 784px;
    height: calc(80vw * (9/16));
    max-height: 441px;
}

#performances div h3 {
    color: rgb(17, 70, 17)
}

#downloadPics {
    margin: 5vw auto;
    text-align: center;
}

#pictures {
    background-image: url(../images/webps/memory-terrain-art.webp);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 3vw;
}

#photoGrid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
    margin: 0;
}

.oneColumn img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        padding: 20px 2vw;
    }
}