p {
    text-align: center;
    color: rgb(17, 70, 17)
}

h2 {
    text-align: center;
    color: rgb(3, 74, 135);
    font-family: 'Montserrat';
}

#bgImage {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
}

#m4aodBC iframe,
#march2021 iframe,
#senorFin iframe,
#hatHair iframe,
#babyJessica iframe,
#yaz iframe {
    width: 350px;
    border: 0;
    height: 470px;
}

/* .afterNav::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: url(../images/webps/memory-terrain-art.webp);
    z-index: -1;
    opacity: .8;
} */

.introCopy {
    text-align: center;
    margin: 20px auto;
    width: 75vw;
    max-width: 1500px;
    border: 1px solid rgb(12, 45, 12);
    border-radius: 10px;
    padding: 10px;
    background-color: lavender;
}

.bigFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vw;
    margin: 2vw;
    /* background-image: url(../images/webps/m4aod-album-art-light.webp); */
}

.bigFlexBox p {
    font-size: 16px;
}

.singleBox {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    border: 1px solid black;
    box-shadow: 1px 3px 5px 0px;
    border-radius: 5px;
    padding: 10px;
    background-color: antiquewhite;
}

.singleBox h2 {
    font-size: 32px;
}

.recList {
    padding-bottom: 10px;
    width: 90vw;
    margin: auto;
}

@media screen and (max-width: 600px) {

    .introCopy {
        width: 85vw;
        margin: 2vw auto;
    }

    .introCopy p {
        font-size: calc((2 - 1) * 1.2vw + .5rem);
    }

    #bigFlexBox {
        margin: 0 5%;
        padding: 0;
    }

    #bigFlexBox p {
        font-size: calc((1.7 - 1) * 1.2vw + .5rem);
    }

    #bigFlexBox iframe {
        width: 100%;
    }

    .singleBox h2 {
        font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    }

    .singleBox iframe {
        width: 100%;
        height: calc(90vw / (16/9))
    }

    #m4aodBC iframe,
    #march2021 iframe,
    #senorFin iframe,
    #hatHair iframe,
    #babyJessica iframe,
    #yaz iframe {
        width: 80vw;
        max-width: 350px;
        border: 0;
        height: calc(80vw / (35/47));
        max-height: 470px;
    }

}