p {
    text-align: center;
    color: rgb(17, 70, 17)
}

h2 {
    text-align: center;
    color: rgb(3, 74, 135);
    font-family: 'Montserrat';
}

#bgImage {
    min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: .8;
}

#m4aodBC iframe, #march2021 iframe, #senorFin iframe, #hatHair iframe, #babyJessica iframe, #yaz iframe {
    width: 350px;
    border: 0;
    height: 470px;
}

/* .afterNav::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: url(../images/memory-terrain-art.png);
    z-index: -1;
    opacity: .8;
} */

.bigFlexBox p {
    font-size: 16px;
}

.introCopy {
    text-align: center;
    margin: 20px auto;
    max-width: 1500px;
    font-size: 24px;
    border: 1px solid rgb(12,45,12);
    border-radius: 10px;
    padding: 10px;
    background-color: lavender;
}

.bigFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 10px;
    margin: 30px 0 60px 0;
    /* background-image: url(../images/m4aod-album-art-light.png); */
}

.singleBox {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    border: 1px solid black;
    box-shadow: 1px 3px 5px 0px;
    padding: 10px;
    background-color: antiquewhite;
}

.recList {
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {

    .introCopy {
        margin: 0 5%;
    }

    .introCopy p {
        font-size: calc((2 - 1) * 1.2vw + .5rem);
    }

    #bigFlexBox {
        margin: 0 2%;
        padding: 0;
    }

    #bigFlexBox p {
        font-size: calc((1.7 - 1) * 1.2vw + .5rem);
    }

    #bigFlexBox iframe {
        width: 100%;
    }

    .singleBox h2 {
        font-size: calc((1.7 - 1) * 1.2vw + 1rem);
    }

    .singleBox iframe {
        width: 100%;
        height: calc(90vw / (16/9))
    }

    #m4aodBC iframe, #march2021 iframe, #senorFin iframe, #hatHair iframe, #babyJessica iframe, #yaz iframe {
        width: 90vw;
        max-width: 350px;
        border: 0;
        height: calc(90vw / (35/47));
        max-height: 470px;
    }

}
