p {
    text-align: center;
    color: rgb(17, 70, 17)
}

h2 {
    text-align: center;
    color: rgb(3, 74, 135);
    font-family: 'Montserrat';
}

#bgImage {
    min-height: 100%;
   min-width: 1024px;
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: .8;
}

/* .afterNav::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: url(../images/memory-terrain-art.png);
    z-index: -1;
    opacity: .8;
} */

.bigFlexBox p {
    font-size: 16px;
}

.introCopy {
    text-align: center;
    margin: 20px auto;
    max-width: 1500px;
    font-size: 24px;
    /* border: 5px solid rgb(12,45,12); */
    padding: 10px;
}

.bigFlexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 10px;
    margin: 30px 0 60px 0;
    /* background-image: url(../images/m4aod-album-art-light.png); */
}

.singleBox {
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: antiquewhite;
}

.recList {
    padding-bottom: 10px;
}
