* {
    /* font-family: 'EB Garamond', sans-serif; */
    font-family: 'Merriweather', sans-serif;
    font-display: swap;
}

.sectionTitle, #MLHeader, #pageLinks a, .nav a, #menuButton {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

html {
    /* background-color: rgb(251, 238, 218); */
    background-color: antiquewhite;
}

body {
    margin: 0;
}

.white {
    background-color: white;
}

p, a {
    color:rgb(17, 70, 17)
}

hr {
    margin: 2vw;
    border: 1px solid rgb(17, 70, 17);
}

#green {
    background-color: rgb(18, 124, 86);
}

#red {
    background-color: rgb(217, 40, 1);
}

#blue {
    background-color: rgb(3, 74, 135);
}

#pink {
    background-color: rgb(254, 135, 178);
}

#yellow {
    background-color: rgb(243, 148, 6);
}

#green, #red, #blue, #pink, #yellow {
    display: block;
    font-size: 36px;
    font-weight: bolder;
    color: antiquewhite;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    font-size: 24px;
}

.sectionTitle{
    text-align: center;
    /* background-color:rgb(18, 124, 86); */
    color: rgb(3, 74, 135);
    padding: 2vw;
    margin: 0;
    font-size: calc((2.5 - 1) * 1.2vw + 2rem);
}

header {
    display: flex;
    position: sticky;
    z-index: 5;
    top: 0;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 20px 2vw;
    background-color: rgb(36, 58, 49);
}

#MLHeader {
    display: block;
    text-align: center;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    margin: 0 1vw;
    text-decoration: none;
    color: antiquewhite;
}

.nav li {
    display: block;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 1vw;
    margin: 0 .5vw;
    text-transform: uppercase;
    color: antiquewhite;
    text-decoration: none; 
    border-radius: 30px;
    font-size: calc((1.5 - 1) * 1.2vw + .3rem);
    /* border: 3px solid black; */
}

.nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

#menuButton {
    display: none;
    text-transform: uppercase;
}

h1 {
    font-size: calc((2 - 1) * 1.2vw + 1rem);
  }
  
  h2 {
    font-size: calc((2 - 1) * 1.2vw + .85rem);
  }
  
  h3 {
    font-size: calc((2 - 1) * 1.2vw + .65rem);
  }
  
  h4 {
    font-size: calc((2 - 1) * 1.2vw + .5rem);
  }
  
  p {
    font-size: calc((1.5 - 1) * 1.2vw + .5rem);
  }

/* @media screen and (min-width: 751px) and (max-width: 1216px) {

} */

@media screen and (max-width: 800px) {

    header {
        display: block;
        margin: 0 auto;
        padding: 3vw 5vw;
    }

    #MLHeader {
        display: block;
        width: fit-content;
        font-size: 24px;
        padding: .5vw 0;
    }

    .nav {
        flex-flow: column nowrap;
        /* border: 3px solid black; */
        /* background-image: url(../images/m4aod-album-art-light.png); */
    }

    .nav li {
        display: block;
    }
    
    .nav ul {
        display: none;
    }

    nav ul.is-active {
        display: block;
        padding-top: 2vw;
      }

    .nav li a {
        display: block;
        margin: 2vw auto;
        padding: 2vw 3vw;
        font-size: 16px;
        width: fit-content;
    }

    #menuButton {
        display: block;
        position: absolute;
        right: 3vw;
        top: 3vw;
        height: calc(29px + 1vw);
        color: rgb(17, 70, 17);
        background-color: antiquewhite;
        border: 0;
        border-radius: 10px;
        padding: 0 2vw;
    }
}

@media screen and (min-width: 1217px) {
    
    .nav {
        justify-content: right;
        margin: 0px;
        /* border: 3px solid black; */
        /* background-image: url(../images/m4aod-album-art-light.png); */
    }
}

@media screen and (max-width: 600px) {
    #pageLinks a {
        padding: 4vw;
    }
}

.nav .activePage {
    color: rgb(17, 70, 17);
    background-color: antiquewhite;
}

.nav .otherPage:hover {
    color: antiquewhite;
    background-color: rgb(18, 124, 86);
}