* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(250, 243, 232);
}

#MLHeader {
    text-align: center;
    font-size: 36px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
    padding: 5px 0 40px 0;
}

.nav a {
    padding: 15px 15px;
    color: blue;
    text-transform: lowercase;    
}

hr {
    margin: 40px;
}

.activePage{
    color: black;
}