* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(250, 243, 232);
}

#MLHeader {
    text-align: center;
    font-size: 36px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
    padding: 5px 0 5px 0;
    background-color: rgb(17, 70, 17);
}

.nav a {
    padding: 15px 15px;
    color: antiquewhite;
    text-transform: lowercase;    
}

hr {
    margin: 40px;
}

.activePage {
    background-color: antiquewhite;
}

 .nav .activePage {
    color: rgb(0, 6, 0);
}