h2 {
    font-size: 30px;
}

h1, h2, a {
    text-align: center;
}

iframe {
    margin: 0 10px;
}

.sdMain {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 10px;
}

.norm {
    margin: 20px 0;
    border: 5px solid rgb(12,45,12);
}

.norm p {
    font-size: 20px;
    text-align: center;
}

.sdReel {
    min-width: 784px;
}


.sdMain p {
    max-width: 850px;
    min-width: 400px;
    margin: 20px;
}

.sdFreelance {
    text-align: center;
    margin: 20px;
}

.sdFreelance p, a {
    display: inline;
}

.sdVidFlex {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sdPVidwText {
    padding: 10px;
    margin: 20px 15px;
    border: 3px solid rgb(12,45,12);
}

.sdPVidwText p {
    margin: 10px;
    max-width: 600px;
    font-size: 12px;
    text-align: center;
}

#samplePacks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 20px 20px 20px;
}

#percImg {
    max-width: 600px;
}

#spText {
    margin: 20px;
    max-width: 820px;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid rgb(12,45,12);
}

.trifilm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

#trifilmText {
    max-width: 700px;
    margin: 0 10px;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid rgb(12,45,12);
}

#trifilmText h2 {
    margin: 50px 0;
}

.instagram-media {
    margin: 0px 10px;
}

.myMusic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    margin: 40px;
}

.myMusicText {
    font-size: 14px;
    max-width: 950px;
    min-width: 500px;
    margin-right: 20px;
}

.myMusicText {
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    border: 3px solid rgb(12,45,12);
}

#m4aodArt {
    max-width: 500px;
    max-height: 500px;
}