h2 {
    font-size: 30px;
}

h1, h2, a {
    text-align: center;
}

iframe {
    margin: 0 10px;
}

.sdMain {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 10px;
    background-image: url(../images/m4aod-album-art-light.png)
}

.norm {
    margin: 20px 0;
    padding: 20px 40px;
    width: 770px;
    background-color: antiquewhite;
    border-radius: 200px;
}

.norm p {
    font-size: 20px;
    text-align: center;
}

.sdReel {
    min-width: 784px;
}


.sdMain p {
    max-width: 850px;
    min-width: 400px;
    margin: 20px;
}

.sdFreelance {
    text-align: center;
    margin: 20px;
}

.sdFreelance p, a {
    display: inline;
}

.sdVidFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sdPVidwText {
    padding: 10px;
    /* border: 3px solid rgb(12,45,12); */
}

.sdPVidwText p {
    margin: 10px auto;
    text-align: center;
    max-width: 540px;
    font-size: 12px;
}

#samplePacks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px 20px 80px 20px;
}

#samplePacks p {
    margin: 50px 0;
    font-size: 22px;
}

#percImg {
    max-width: 600px;
    min-width: 0;
}

#spText {
    margin: 20px;
    max-width: 810px;
    text-align: center;
    padding: 10px 20px;
}

.trifilm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin: 40px 0 80px 0;
}

#trifilmText {
    max-width: 800px;
    margin: 0 10px;
    text-align: center;
    padding: 10px 20px;
    font-size: 22px;
}

#trifilmText h2 {
    margin: 20px 0;
}

.instagram-media {
    max-height: 725px;
    margin: 0px 10px;
}

.myMusic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
    margin: 40px;
}

.myMusicText {
    max-width: 800px;
    min-width: 500px;
    font-size: 16px;
    text-align: left;
    padding: 10px 20px;
}

#m4aodArt {
    max-width: 600px;
    max-height: 600px;
}

@media screen and (max-width: 600px) {

    p {
        font-size: 14px;
    }

    #sdMain {
        width: 100%;
        padding: 10px 0;
    }

    .sdMain p {
        min-width: 0;
        font-size: 14px;
        margin: 10px;
    }

    .sdReel {
        min-width: 0;
        width: 95vw;
        margin: 0 auto;
    }

    .norm {
        margin: 10px;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
    }

    #pageLinks {
        margin-bottom: 10px;
    }

    #pageLinks a {
        font-size: 18px;
    }

    #sdFreelance {
        margin: 10px;
    }

    .sectionTitle {
        font-size: 30px;
        padding: 10px;
    }

    #sdVidFlex {
        margin: 0;
    }

    .sdPVidwText {
        width: 90vw;
        border: 2px solid black;
    }

    .sdPVidwText iframe {
        width: 100%;
        height: auto;
        margin: 0;
    }

    hr {
        margin: 30px;
    }

    #samplePacks {
        margin: 10px;
    }

    #spText {
        padding: 0;
    }

    #spText p {
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
    }

    #trifilm {
        margin: 0 10px;
    }

    #myMusic {
        margin: 0 10px;
    }

    #myMusicText {
        min-width: 0;
        width: 100%;
    }

    #myMusicText p {
        font-size: 12px;
    }

    #m4aodArt {
        width: 100%;
    }
}