h2 {
    font-size: 30px;
}

h1,
h2,
a {
    text-align: center;
}

.sdMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vw 2vw;
    gap: 1vw;
    background-image: url(../images/webps/m4aod-album-art-light.webp)
}

.sdMain p {
    max-width: 850px;
    min-width: 400px;
    margin: 20px;
}

.norm {
    margin: 2vw 0;
    padding: 0 2vw;
    width: 770px;
    background-color: antiquewhite;
    border-radius: 30px;
}

.norm p {
    font-size: calc((1.7 - 1) * 1.2vw + .6rem);
    text-align: center;
    margin: 2vw 1vw;
}

.sdReel {
    width: 80vw;
    height: calc(80vw * (441/784));
    max-width: 672px;
    max-height: 378px;
}




.sdFreelance {
    text-align: center;
    margin: 20px;
}

.sdFreelance p,
a {
    display: inline;
    font-size: calc((1.8 - 1) * 1.2vw + .5rem);
}

.sdVidFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sdPVidwText {
    padding: 10px;
    /* border: 3px solid rgb(12,45,12); */
}

.sdPVidwText p {
    margin: 10px auto;
    text-align: center;
    max-width: 540px;
    /* font-size: 12px; */
}

#samplePacks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vw;
    gap: 2vw;
}

#samplePacks p {
    margin: 2vw 0;
}

#spText p a {
    font-size: calc((1.5 - 1) * 1.2vw + .5rem);
    ;
}

#percImg {
    width: 35vw;
    max-width: 600px;
    min-width: 0;
}

#spText {
    width: 55vw;
    max-width: 810px;
    text-align: center;
}

.trifilm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    margin: 2vw;
}

#trifilmText {
    width: 55vw;
    max-width: 800px;
    text-align: center;

}

#trifilmText p,
#trifilmText a,
#spText p,
#spText p a {
    font-size: calc((1.7 - 1) * 1.2vw + .6rem);
    margin: 2vw 0;
}

#instagram-embed-0 {
    width: 35vw !important;
    height: calc(35vw * (725 / 540));
    max-height: 725px;
    max-width: 540px;
}

@media screen and (max-width: 950px) {
    #instagram-embed-0 {
        width: 540px !important;
        height: 725px;
    }
}

@media screen and (max-width: 600px) {
    #instagram-embed-0 {
        width: 90vw !important;
        height: calc(90vw * (720/540));
    }

    #trifilmText {
        width: 90vw;
    }
}

.myMusic {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0 2vw;
}

.myMusicText {
    width: 58vw;
    max-width: 800px;
    min-width: 500px;
    text-align: left;
}

.myMusicText p a {
    font-size: calc((1.5 - 1) * 1.2vw + .5rem);
}

#m4aodArt {
    width: 35vw;
    max-width: 600px;
    max-height: 600px;
}

@media screen and (max-width: 1000px) {
    .myMusicText {
        width: 90vw;
        max-width: 900px;
        min-width: 0px;
        text-align: left;
    }

    #m4aodArt {
        width: 80vw;
        max-width: 800px;
        max-height: 800px;
    }
}

@media screen and (max-width: 600px) {

    main {
        padding: 2vw;
    }

    p {
        font-size: 14px;
    }

    #sdMain {
        width: 100%;
        padding: 10px 0;
    }

    .sdMain p {
        min-width: 0;
        font-size: 14px;
        margin: 10px;
    }

    .sdReel {
        min-width: 0;
        width: 96vw;
        height: calc(96vw / (16/9));
        margin: 0 auto;
    }

    .norm {
        margin: 10px;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
    }

    #pageLinks {
        margin-bottom: 10px;
    }

    #pageLinks a {
        font-size: 18px;
    }

    #sdFreelance {
        margin: 10px;
    }

    .sectionTitle {
        font-size: 30px;
        padding: 10px;
    }

    #sdVidFlex {
        margin: 0;
    }

    .sdPVidwText {
        width: 90vw;
        border: 2px solid black;
    }

    .sdPVidwText iframe {
        width: 100%;
        height: auto;
        margin: 0;
    }

    hr {
        margin: 20px;
    }

    #samplePacks {
        margin: 10px 0px;
    }

    #percImg {
        width: 70vw;
    }

    #spText {
        width: 90vw;
        padding: 0;
    }

    #spText p {
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
    }

    #spText p a {
        font-size: 14px;
    }

    #trifilm,
    #myMusic {
        margin: 0;
        padding-bottom: 0;
    }

    #myMusicText {
        min-width: 0;
        width: 100%;
        padding: 10px;
    }

    #myMusicText p {
        font-size: 12px;
    }

}