.border {
    border: 2px ridge black;
}

.mainText div {
    margin: 40px;
}

.mainText {
    background-image: url(../images/m4aod-album-art-light.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 40px;
    margin: 0 auto;
    /* border: 3px solid black; */
}

.TEXT {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mT{
    margin: auto;
    padding: 10px 50px;
    width: 980px;
    border-radius: 150px;
    background-color: antiquewhite;
    
    /* border: 5px solid black; */
}

.mT h2 {
    padding: 0 80px;
    font-family: 'Montserrat';
    font-size: 32px;
}

.p1, .p2 p {
    font-size: 16px;
    color: rgb(17, 70, 17);
} 

.p1 hr {
    margin: 0 350px;
}

.p2 {
    padding: 0 30px;
}

.fantasySumo {
    margin: 40px auto;
    gap: 20px;
}

#sumoIntro {
    color:rgb(17, 70, 17);
    text-align: center;
}

#fsBodyFlex {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 20px;
}

#sumoImageFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

#sumoImageFlex img {
    width: 600px;
    height: 100%;
}

#sumoHome {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
}

.fsText {
    flex: 0 1 auto;
    width: 800px;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    margin: auto;
    /* border: 3px solid rgb(12,45,12); */
}

.fBox {
    padding: 10px 20px;
    text-align: center;
    /* border: 3px solid rgb(12,45,12); */
    /* max-width: 680px; */
}

#iHTopFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

#iceHonkyAbout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px auto;
    width: 800px;
}

#iceHonkyIntro {
    text-align: center;
    color:rgb(17, 70, 17);
}

.ihi {
    width: 600px;
    margin: 20px 0;
}

#ihiFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#iceHonkyText {
    width: 800px;
    margin: 10px auto;
}

#bbb {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 30px;
}

#bbbHome {
    width: 800px;
}

#bbbtext {
    width: 900px;
}

#bbbImages {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#bbbImages img {
    width: 800px;
}

.smallLine {
    width: 500px;
    margin: 30px auto;
}

.mTitle {
    font-size: 30px;
    text-align: center;
    color:rgb(17, 70, 17)
}

.ll {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.liveLooping {
    /* border: 3px solid rgb(12,45,12); */
    width: 45%;
    max-width: 800px;
}

.liveLooping p, ul, li {
    padding: 30px 0 0 0;
    text-align: left;
    margin: 0 10px;
}

.liveLooping ul {
    padding: 30px 0px;
    color: rgb(17, 70, 17);
}

.liveLooping li {
    font-size: 12px;
    text-align: left;
}

.biggerText {
    font-size: 20px;
    text-align: center;
    color: rgb(17, 70, 17);
}

.binkLooper p {
    max-width: 784px;
    text-align: center;
}

#bigContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.m4aod {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px 150px;
    margin: 40px 40px 80px 40px;
    padding: 0px 20px;
    color:rgb(17, 70, 17);
    background-color: white;
}

.m4aodCopy {
    width: 630px;
    text-align: left;
}

#m4aodBCReal {
    border: 0; 
    width: 350px; 
    height: 470px
}

.unrealEngine {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px 50px;
    margin: 40px 40px 80px 40px;
    background-color: white;
}

.uetext {
    width: 600px;
}

.unrealEngine p {
    font-size: 16px;
    text-align: left;
}

#otherVideos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.otherVideo {
    width: 500px;
    border: 2px solid black;
    background-color: white;
    padding: 10px;

}


@media screen and (max-width: 910px){
    .mainText div {
        margin: 5%;
    }
    
    .mainText {
        text-align: center;
        background-position: center;
        background-size: cover;
        padding: 5%;
        margin: 5% 0 0 0;
        border: 3px solid black;
    }

    .someThings {
        font-size: 1.7vw;
    }

    p {
        font-size: 2vw;
    }

    .fBox, .fsText, .uetext {
        width: 90%;
    }

    #sumoHome, #iceHonkyAbout, #bbbHome, #bbbImages img, .mT, #ihiFlex img {
        width: 90%;
    }
}

@media screen and (max-width: 1603px) {
    .liveLooping {
        width: 90%;
    }

    .binkLooper iframe {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    hr {
        margin: 15px;
    }

    .smallLine {
        width: 50vw;
    }

    .mainText div {
        margin: 3%;
    }

    .mainText {
        margin: 0;
    }

    .p1 hr {
        margin: 20px;
    }
 
    .mT {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 30px;
    }

    .mT h2 {
        font-size: 20px;
        padding: 0;
        margin-bottom: 0;
    }

    .mT p, .p2 {
        font-size: 12px;
        padding: 5px;
        margin: 0;
    }

    #pageLinks {
        margin-bottom: 10px;
    }

    .fantasySumo {
        margin: 0 auto;
    }

    #fsBodyFlex {
        margin: 0;
    }

    .fBox {
        padding: 10px;
        margin: 0 auto;
    }

    #fsBodyFlex p, #iHTopFlex p {
        font-size: 12px;
    }

    #sumoImageFlex img, #sumoHome {
        width: 90vw;
    }

    .sectionTitle {
        font-size: 30px;
    }

    #iceHonkyIntro {
        font-size: 16px;
        margin: 0 20px;
    }

    #bbb {
        margin: 0;
    }

    #bbb p {
        font-size: 12px;
    }

    #bbb img, #bbbImages img {
        width: 90vw;
    }

    .mTitle {
        font-size: 20px;
    }

    .biggerText {
        font-size: 16px;
        margin: 5px 0;
    }

    ul, li {
        font-size: 12px;
        padding: 10px 0;
    }

    .binkLooper {
        margin: 0 20px;
    }

    .binkLooper p {
        font-size: 12px;
    }

    .ll {
        gap: 0px;
    }

    .bigContainer {
        margin: 0 auto;
        width: 90vw;
    }

    .m4aod {
        margin: 0;
        gap: 0;
        padding: 0 10px;
    }

    #m4aodCopy {
        text-align: center;
        width: 95%;
    }

    #m4aodCopy p, #uetext p, .otherVideo p, #extra p {
        font-size: 12px;
    }

    #m4aodBCReal {
        width: 300px;
    }

    .unrealEngine {
        margin: 10px;
        padding: 10px;
        gap: 10px;
    }

    .unrealEngine iframe {
        width: 100%;
    }

    #otherVideos {
        margin: 20px 0;
    }

    .otherVideo iframe {
        width: 100%;
    }

    .binkLooper iframe {
        height: 50vw;
        width: 100%;
    }
}

